.main {
  background-repeat: no-repeat;
  background-position-x: right;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__info {
    position: relative;
    padding-top: 120px;
    padding-bottom: 116px;

    &__title {
      font-weight: 600;
      font-size: 60px;
      line-height: 72px;
      width: 50%;
      margin-bottom: 30px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;
      width: 30%;
      margin-bottom: 50px;
      color: #2b2b2b;
    }

    &__button {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__img {
    max-height: 750px;
    background-size: cover;
    overflow: hidden;
  }
}

@media screen and (max-width: 1050px) {
  .main {
    &__info {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    background-image: none !important;

    &__info {
      padding-top: 40px;
      padding-bottom: 80px;

      &__title {
        font-size: 26px;
        line-height: 31px;
        width: 100%;
      }

      &__text {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
      }

      &__button {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &__img img {
      height: 500px;
      position: relative;
      left: -200px;
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    &__img img {
      height: 300px;
    }
  }
}
